:root {
  --c: #075;
  --w: 720px;
  font-size: 125%;
  line-height: 1.5;
}

h1,
h2,
h3,
th,
legend,
caption {
  font-weight: 800;
  color: var(--c);
}

img {
  max-width: 100%;
  height: auto;
}

body,
figure {
  margin: 0;
}

body > * {
  max-width: var(--w);
  font-family: sans-serif;
  overflow: auto;
  padding: 0 calc((100vw - var(--w)) / 2);
}

body > header,
body > footer {
  background: linear-gradient(to top, #eee, #f7f7f7);
  box-shadow: 0 0 3px #aaa;
}

header * {
  margin: 4px 0;
}

nav * {
  display: inline;
  padding: 0;
}

a,
a:visited {
  color: var(--c);
}

fieldset {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  padding: 0.25em 0.5em;
}

select {
  background-color: #eee;
  border: 0;
  border-radius: 5px;
}

button,
[type='submit'],
[type='button'] {
  border: 0;
  border-radius: 5px;
  background-color: var(--c);
  color: #fff;
  padding: 0.5em 1em;
}

label,
input,
button,
select,
textarea {
  display: block;
  margin: 0.5em 0;
  font-size: 1rem;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
}

[type='radio'],
[type='checkbox'] {
  display: inline;
}

[type='checkbox'] {
  display: none;
}

[type='checkbox'] + label::before,
label:has([type='checkbox'])::before {
  content: '☑';
}

:checked + label::before,
label:has(input:checked)::before {
  content: '☐';
}

table {
  border-spacing: 0;
}

tr:nth-child(even) > td {
  background-color: #eee;
}

th,
td {
  padding: 0.5em 1em;
}
