:root {
  --color: #075;
  font-size: 125%;
  line-height: 1.5;
}

h1,
h2,
h3,
th,
caption {
  font-weight: 800;
  color: var(--color);
}

img {
  max-width: 100%;
}

body > * {
  max-width: 960px;
  margin: 0 auto;
  font-family: sans serif;
}

header * {
  margin: 4px 0;
}

nav * {
  display: inline;
  padding: 0;
}

a,
a:visited {
  color: var(--color);
}

input,
select,
textarea {
  padding: 0.25em 0.5em;
}

button,
[type='submit'],
[type='button'] {
  border: 0;
  border-radius: 5px;
  background-color: var(--color);
  color: #fff;
  padding: 0.5em 1em;
}

label,
input,
button,
select,
textarea {
  display: block;
  margin: 0.5em 0;
  font-size: 1rem;
  font-family: sans-serif;
}

[type='radio'],
[type='checkbox'] {
  display: inline;
}

[type='checkbox'] {
  display:none;
}

[type='checkbox'] + label::before, label:has([type='checkbox'])::before {
  content:"☑";
}

:checked + label::before, label:has(input:checked)::before {
  content:"☐";
}

table {
  border-spacing: 0;
}

tr:nth-child(even) > td {
  background-color: #eee;
}

th,
td {
  padding: 0.5em 1em;
}
